:root {
  --bg: #0f0f1a;
  --primary: #FFD700;
  --secondary: #ff7675;
  --border: #ffffff;
}

body {
  margin: 0;
  background: var(--bg);
  color: white;
  font-family: 'Press Start 2P', monospace;
  image-rendering: pixelated;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
